<a href="https://colab.research.google.com/github/RobertCurley/RobertCurley_Learn/blob/main/Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write Hello World
print("Hello World")

Hello World

## **Basic Calculations with Python**

In [ ]:
# Addition 
# What is 5 plus 5?
print(5 + 5)

10

In [ ]:
# Substraction 
# What is 15 minus 5?
print( 5 -5)

0

In [ ]:
# Multiplication 
#What is 5 multiplied by 10?
print(5 * 10)

50

In [ ]:
# Division (What is 150 divided by 10?)
print(150 / 10)

15.0

In [ ]:
# Modulo {Returns the remainder of a division ie: 18 % 7, -> 7 multipied by 2 = 14 -> 18 - 14 = 4 therefore 18 % 7 = 4}
#What is the remainder of 16 divided by 7?
print(16 % 7)

2

In [ ]:
# Exponentiation: x to the power of y
#What is 10 to the power of 2?
print(10 ** 2)

100

# **Creating Variable**

In [ ]:
#  Create a variable for the salary of a person earning â‚¬100,000
Person_A_Salary = 100000
print(Person_A_Salary)

100000

# **Calculating Variables**

In [ ]:
# Creating Variables
Person_B_Salary = 1000
Person_C_Salary = 2000

In [ ]:
# Add Person_A_Salary and Person_B_Salary and Person_C_Salary and save as Total_Salary
Total_Salary = Person_A_Salary + Person_B_Salary + Person_C_Salary
print(Total_Salary)

103000

In [ ]:
# What percentage of Total_Salary is Person A?
print((Person_B_Salary / Total_Salary)*100)

0.9708737864077669

# **Data Types**

In [ ]:
# float: Number with Decimals
x = 1.1
print(type(x))

<class 'float'>

In [ ]:
# int: Number with no Decimals
y = 2
print(type(y))

<class 'int'>

In [ ]:
# str: Text
B = "Hello World"
print(type(B))

<class 'str'>

In [ ]:
# bool: True or False statement
Z = True
A = False
print(type(Z))
print(type(A))

<class 'bool'>
<class 'bool'>

# **Lists**

Created by using Square Brackets [  ]

In [ ]:
# Create a list for the size of rooms in a house

# List of rooms and there corresponding size
hall = 5.2
kitchen = 20.1
bedroom = 15.5
bathroom = 10.6

House = [hall, kitchen, bedroom, bathroom]

print(House)

[5.2, 20.1, 15.5, 10.6]

In [ ]:
# Add information to the House list to make it more informative
House = ["Hallway" , hall, "Kitchen", kitchen, "Bedroom", bedroom, "Bathroom", bathroom]
print(House)

['Hallway', 5.2, 'Kitchen', 20.1, 'Bedroom', 15.5, 'Bathroom', 10.6]

In [ ]:
# List of List
# Protray the information for House as a List of List

House = [["Hallway", hall],
         ["Kitchen", kitchen],
         ["Bedroom", bedroom],
         ["Bathroom", bathroom]]

print(House)

[['Hallway', 5.2], ['Kitchen', 20.1], ['Bedroom', 15.5], ['Bathroom', 10.6]]

## Subsetting Lists
Pulling Out a specific part of a list ie first/last entry.

**Index starts at 0** 
This means to find the first entry it is x[0].
Index can also count from the last entry which is x[-1].

When unsure about what index it is but you know the variable.
Can use *databasename*.index(x) to find what the index is.

In [ ]:
# Subsetting
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
print(areas)
print(areas[1])
print(areas[-9]) # Same Result

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
11.25
11.25

In [ ]:
# Index check on living room
print(areas.index("living room"))

4

In [ ]:
# Subsetting and Calculating using areas list from above
Living_Sleeping = areas[5] + areas[7]
print(Living_Sleeping)

# Check
Living_Sleeping == 20.0 + 10.75

30.75

True

In [ ]:
#Slicing: Used to pull out specific sections of the list (using areas list from above)
downstairs = areas[: 6] # If no index before : then start = 0 (First index)
downstairs_2 = areas[0 : 6]
print(downstairs)
print(downstairs_2)

upstairs = areas[6 : ] # If no index after : then finsh = Last index
upstairs_2 = areas[6 : 11]
print(upstairs)
print(upstairs_2)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]
['bedroom', 10.75, 'bathroom', 9.5]

## Subsetting List of Lists
Each Row on the list of list is indexed then the variables inside the list are indexed hence the two entries

In [ ]:
#Create List of Lists
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
print(x[2][0:]) # Returns the list with the index of 2, Whole List as all indexs selected [0 : ]
print(x[2][1]) # Returns the list with the index of 2 & the value which has the index of 1 in that list [1]

['g', 'h', 'i']
h

## Manipulating Lists

In [ ]:
# Areas list from before
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
# Using Areas list change the bathroom area to 12.0 & Change the bedroom to sleep_area

areas[-1] = 12.0
areas[6] = "sleep_area"
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'sleep_area', 10.75, 'bathroom', 12.0]

In [ ]:
# Add Garage area to the areas list

areas_1 = areas + ["garage", 15]
print(areas_1)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'sleep_area', 10.75, 'bathroom', 12.0, 'garage', 15, 'garage', 15]

# Data Manipulations with Pandas

##Aggregating DataFrames

### Pivot Tables

*Database_Name*.pivot_table(values=x, index=y, aggfunc=np.*function*)

Default = Mean

Pivot on Two Variables

*Database_Name*.pivot_table(values=x, index=y, columns=z)

Filling missing values in pivot table

*Database_Name*.pivot_table(values=x, index=y, columns=z, fill_value=0)

Summing with pivot tables

*Database_Name*.pivot_table(values=x, index=y, columns=z, fill_value=0, margins=True)

##Slicing and Indexing DataFrames

Setting a column as the index

*New_Database_Name* = *Database_Name*.set_index(x)

Removing an index

*New_Database_Name*.reset_index()

Dropping an Index (Remove indexed Column) 

*New_Database_Name*.reset_index(drop=True)

Index can be used to make subsettting easier

*Database_Name_ind.loc[[x,y]]

Sort by index values

*Database_Name*.sort_index()

Controlling Sort
*Database_Name*.sort_index(level=[x,y], ascending=[True, False])

**Indexes violate "tidy data" principles**

**You need to learn 2 syntaxes**